<div class="row">
    <div class="col-xs-6 col-sm-3 text-center">
        <input type="text" class="text" ng-model="art.name" placeholder="Name of art piece">
    </div>
    <div class="col-xs-6 col-sm-3 text-center">
        <input type="text" class="text" ng-model="art.artist" placeholder="Artist">
    </div>
    <div class="col-xs-6 col-sm-3 text-center">
        <input type="number" class="text" ng-model="art.year" placeholder="Year" required min="2014">
    </div>
    <div class="col-xs-6 col-sm-3 text-center">
        <select ng-model="art.category" ng-options="category for category in categories"></select>
    </div>
</div>
<br>