<h1 class="text-center">Favorite Burning Man Art</h1>
<div class="container top-div map"></div>
<section class="container map text-center">
    <div class="arm" ng-repeat="art in artList"
         ng-style="setPosition(art)">
        <a href="#!/favorites/{{ art._id }}" class="map-link">
            <img ng-show="{{ art.year === 2014 }}" src="global-images/button-purple.svg" class="dot" alt="">
            <img ng-show="{{ art.year === 2015 }}" src="global-images/button-blue.svg" class="dot" alt="">
            <img ng-show="{{ art.year === 2016 }}" src="global-images/button-red.svg" class="dot" alt="">
        </a>
        <div class="map-thumbnail"><img class="thumbnail" src="{{ art.imageUrls[0] }}" alt=""></div>
    </div>
    <img src="global-images/brc.png" alt="" class="img-full-width">
    <a href="https://burningman.org/culture/philosophical-center/10-principles/"><img
            src="global-images/button-green.svg" alt="" class="map-dot"></a>
</section>