<section class="container">
    <div class="content-wrapper">
        <single-search-result single-piece="singlePiece"></single-search-result>
        <div class="row">
            <div class="col-xs-6 text-right">
                <button class="btn btn-danger" ng-click="delFav()">Delete from favorites</button>
            </div>
            <div class="col-xs-6 text-left">
                <button class="btn btn-warning" ng-click="updateFav()">Update information</button>
            </div>
        </div>
    </div>
</section>